{{#> layout title="Login"}}

{{#*inline "body"}}
<form autocomplete="off" action="/oauth/authorize{{ queryString }}" method="post">
    <label>Email</label>
    <input required type="email" name="email" value="test@tachyontest.com" />

    <label>Password</label>
    <input required type="password" name="password" value="fish" />

    <button type="submit">Login</button>
</form>

<a href="/google{{ queryString }}">Sign in with Google</a>
{{/inline}}

{{/layout}}

<div>{{ queryString }}</div>

<div>{{ error }}</div>