{{#> layout title="Login"}}

{{#*inline "body"}}
<form autocomplete="off" action="#" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    <div>
        <label>
            Username or Email
            <input type="text" name="usernameOrEmail" value="test@tachyontest.com" required>
        </label>
    </div>

    <div>
        <label>
            Password
            <input type="password" name="password" value="fish" required>
        </label>
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>

<div>
    Or
</div>

<div>
    <a href="/login/google">Continue with Google</a>
</div>

<div>
    <a href="/login/steam">Continue with Steam</a>
</div>

<hr>

<div>
    <a href="/register">Register</a>
</div>

<div>
    <a href="#">Forgot Your Password?</a>
</div>
{{/inline}}

{{/layout}}